body {
    font-family: "Lato", sans-serif;
    line-height: 1px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  text-align: center;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  /* color: #818181; */
  color: #fceeee;
  display: block;
}

#sidenav{
    padding-left: 70px;
}

#main{
  display: flex;
  margin-left: 200px;
  width: 100%;
}

#table{
  width: 80%;
}

table, th, tr{
  /* border: 1px solid black; */
  height: 13px;
  padding: 5px;
  line-height: 28px;
  font-size: 20px;
}

#tablebody{
  text-align: center;
}