
/*--------------------------------------------------------- PopUp Page CSS Part ---------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  /* --bg-clr: #00599f; */
  --white: #fff;
  --text-clr: #706f6f;
  --success-clr: #3cb878;
  --success-hvr: #059249;
  --cancel-clr: #d4d9e5;
}

button{
  display: block;
  width: 160px;
  border: 2px solid transparent;
  padding: 12px 15px;
  border-radius: 3px;
  color: var(--white);
  cursor: pointer;
  transition: background 0.5s ease;
}

button.success_btn{
  background: var(--success-clr);
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal_wrapper .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s ease;
}

.modal_wrapper .modal {
  width: 350px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper .modal .modal_item{
  width: 100%;
  background: var(--white);
  border-radius: 3px;
  position: relative;
  display: none;
}
.modal_item .modal_body{
  padding: 35px;
  text-align: center;
}
.modal_item .modal_body .s_icon{
  width: 60px;
  height: 60px;
  background: var(--success-clr);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin: 0 auto 15px;
}

.modal_item .close{
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: var(--white);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.modal_btns{
  padding-top: 4px;
  padding-left: 14px;
  width:100% ;
}
 .success_btn{
  width: 100%;
 }

.modal_item .s_button button{
  width: 100%;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.modal_wrapper.active{
  visibility: visible;
}

.modal_wrapper.active .shadow{
  opacity: 1;
  transition: all 0.2s ease;
}

.modal_item.s_modal.active,
.modal_item.e_modal.active{
  display: block;
}

/* -------------------------------------------------------Payment Page CSS Part--------------------------------------------------------- */

*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;}
header{
	width: 100vw;
	min-height: 100vh;
	background-image: url(Payment\ Images/payementback.jpg);
  background-size: 1700px 800px;
  background-repeat: no-repeat;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}






