#update{
    height: 100%;
  width: 160px;
 position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 16px;
  text-align: center;
}

#update input {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  /* color: #818181; */
  /* color: #fceeee; */
  display: block;
} 



#products{
  /* padding-left: 300px; */
  padding: 50px 10px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 100px;
  padding-left: 550px;
}

#companydiv{
  padding: 50px 150px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 100px;
}

/* ------------------------------------------------------------------Fiexed side nav -------------------------*/

body {
  font-family: "Lato", sans-serif;
  line-height: 1px;
}

.sidebar {
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 16px;
text-align: center;
}

.sidebar a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
/* color: #818181; */
color: #fceeee;
display: block;
}

#sidenav{
  padding-left: 70px;
}
/* ------------------------- */
#products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  line-height: 20px;
}
#products img{
  height: 100px;
}
.card__title{
  font-size: 20px;
}